# Project
.nuxt-storybook
storybook-static
node_modules
build

github-bot/config.yml
app/config.yml
app/.env

# Yarn workspace
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Jetbrains IDEs
.idea/
*/.idea/

# Husky - pre-commit hooks
.husky/_/
