/* import fonts */
@import '@fontsource/cantarell/index.css';
@import '@fontsource/jetbrains-mono/index.css';
@import '@fontsource/noto-sans/index.css';

/* Import TailwindCSS */
/* stylelint-disable */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-enable */

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

/* fix hyperlinks */
a {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
